{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Project - awwwards</title>

{% block styles %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
{% endblock %}
</head>

<body>
<header>
    <div class="container-fluid"><br>
    <div class="row">
    <div class="col-md-4">
    <p style='text-decoration:underline;'>Kenya  </p>
    </div>
     <div class="col-md-4">
    <p >The awards of design , creatvity and innovation on the internet </p>
    </div>
     <div class="col-md-4">
     <p style='margin-left:500px;'>
     <span class="instagram"><a href="https://www.instagram.com/maureen.murimi/" title="Instagram"
                  target="_self"><i class="fa fa-instagram" style="font-size:20px;color:black;"></i></a></span>
          <span class="twitter"><a href="https://twitter.com/MaureenNimo3" title="twitter"
                  target="_blank"><i class="fa fa-twitter" style="font-size:20px;color:black;"></i></a></span>
          <span class="facebook"><a href="https://www.facebook.com/maureen.murimi.33" title="facebook"
                  target="_self"><i class="fa fa-facebook" style="font-size:20px;color:black;"></i></a></span>
      </p>
      </div>
  </div>
    </div>
    </div>
</header><hr>
      {% include "navbar.html" %}
 {{ form.media }}
 <br><hr>
  <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-5 pt-2 ">
            <form  action="{%url 'new-project'%}" method="post" enctype="multipart/form-data">
              {%csrf_token%}
              {% bootstrap_form form%}
              <input type="submit" class="btn btn-success btn-lg font-weight-bold" value="SUBMIT SITE">
            </form>
      </div>
      <div class="col-lg-3"></div>
  </div>
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
{% endblock %}
</body>
</html>