{% load ratings %}

<div class="container-fluid">
      <p><b> Nominees</b> We need your vote <p>
<div class="container-fluid">
<div class="row">
{% for project_item in projects %}
    <div class="col-lg-4">
        <div class="card-deck">
            <div class="card mb-2 mt-2">
                <!-- Card image -->
            <div class="view overlay zoom">
                {% if project_item.my_image %}
                <a href="/project/{{project_item.id}}">
                <img class="card-img-top" src="{{project_item.my_image}}" alt="{{ project_item.name }}" class="image"  height="300px">
                </a>
                {% else %}
                <a href="/project/{{project_item.id}}">
                <img  class="card-img-top" src="https://unsplash.it/1200/768.jpg?image=76" alt="Ireland">
                </a>
                {% endif %}
                </div>
                <div class="card-body pr-2 pl-2 pr-2 mr-2">
                <h5 class="card-title ml-4"> <a href='{{ project_item.title }}' style="color:black;" target="_blank" >{{ project_item.title }}</a>
</h5>
                <div class="row ml-2">
                    <div class="col-lg-6 dark-text"> <small> <span class="mr-1"> From {{project_item.country.name}}</span> <img src="{{project_item.country.flag}}" alt=" {{project_item.country.name}} flag">  </small> </div>
                    <div class="col-lg-6 dark-text d-flex justify-content-end"> <small> {{project_item.time_created|date:"d /m/Y"}} </small> </div>
                </div>
                </div>
                <div class="card-footer">
                {% if project.profile_pic %}
                    <img src="{{project.profile_pic}}"  alt="image" class="rounded-circle img-fluid " style="width: 30px;">
                {% else %}
                    <img src="https://unsplash.it/1200/768.jpg?image=1033" alt="avatar" class="rounded-circle img-fluid" style="width: 30px;">
                {% endif %} <small> BY {{project_item.author|upper}} </small>
                </div>
            </div>
            </div>
        <!-- Rating hover  -->
             <div class="middle">
                    <div class="text">
                    <a href="{{project_item.link}}"><i class="fa fa-lg fa-eye" >Visit Site</i></a>
                    <div class="mt-2 pt-2">
                    <h6>Total votes</h6>
                    </div>
                        {%ratings project_item%}
              </div>
  </div>

    </div>
{% endfor %}

</div>
</div>

 </div>