 {%extends 'base.html'%}

{% load bootstrap4%}


{% block content %}
<div class="container">
  <div class="row mt-4"></div>

  <div class="row">

    <div class="col-lg-12">

      <div class="card card-cascade wider reverse">

        <div class="view view-cascade overlay">
          {% if project.my_image %}
          <img class="card-img-top" src="{{project.my_image}}" alt="Project"
           style="max-height: 500px;">
          {% else %}
          <img class="card-img-top" src="https://unsplash.it/1200/768.jpg?image=10"
            alt="Avatar">
          {% endif %}
          <a href="#!">
            <div class="mask rgba-white-slight">
              <div class="d-flex justify-content-end">
                <a href="{{project.link}}" target="_blank" title="Visit site"> <button type="button"
                    class="btn btn-light px-3"><i class="fa fa-directions" aria-hidden="true"></i></button>
                </a></div>
            </div>
          </a>
        </div>

        <div class="card-body card-body-cascade text-center">

          <h2 class="font-weight-bold"><a>{{ project.title }}</a></h2>

          <h4 class="">{{ project.description }}</h4>
          <div>
            <a href="{{project.link}}" target="_blank" title="Visit site">
              <button type="button" class="btn btn-default font-weight-bold px-3">Visit website</button></a>
          </div>
          <div class="mt-2 pt-2">
            <h4>Vote</h4>
          </div>
          {%ratings project %}

          <div class="row">
            <div class="col-lg-6 dark-text"> <small> <span class="mr-1"> From {{project.country.name}}</span>
                <img src="{{project.country.flag}}" alt=" {{project.country.name}} flag"> </small> </div>

            <div class="col-lg-6 dark-text"> <small> Date Posted: {{project.time_created|date:"d /m/Y"}} </small> </div>
          </div>
        </div>
      </div>
      <div class="card mt-5 pb-2 mb-2">
        <div class="card-footer bg-white">
          <h5 class="pt-2">CREDITS</h5>
          <hr>
          <small class="font-weight-bold ml-2"><img src="{{ project.author.profile.photo.url }}" alt=""
              class="rounded-circle img-fluid mr-1" style="width: 50px;">
            BY {{project.author|upper}} <span class="ml-1 mr-1"> From {{project.country.name}}</span>
            <img src="{{project.country.flag}}" alt=" {{project.country.name}} flag"></small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}