body {
    margin-left: 30px;
}

#btn-view {
    border-color: #49c5b6;
    color: #fff;
    background-color: #49c5b6;
    font-weight: 500;
    margin-top: 300px;
    border-radius: 40%;
}

.head-p {
    color: #49c5b6;
    text-align: center;
    font-weight: bold;
}

.copy {
    background-color: gainsboro;
    text-align: center;
}

.abt{
    font-weight: normal;
}
.jumbotron{
    color: black;
    background-color: #49c5b6 ;
}