{% load bootstrap4 %}
{% load static %}
<! DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% if title %}
  <title>Awwwards - {{title}}</title>
  {% else %}
    <title> Awwwards</title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">

  {% endblock %}

</head>
<body>
<header>
    <div class="container-fluid"><br>
    <div class="row">
    <div class="col-md-4">
    <p style='text-decoration:underline;'>Kenya  </p>
    </div>
     <div class="col-md-4">
    <p >The awards of design , creatvity and innovation on the internet </p>
    </div>
     <div class="col-md-4">
     <p style='margin-left:500px;'>
     <span class="instagram"><a href="https://www.instagram.com/maureen.murimi/" title="Instagram"
                  target="_self"><i class="fa fa-instagram" style="font-size:20px;color:black;"></i></a></span>
          <span class="twitter"><a href="https://twitter.com/MaureenNimo3" title="twitter"
                  target="_blank"><i class="fa fa-twitter" style="font-size:20px;color:black;"></i></a></span>
          <span class="facebook"><a href="https://www.facebook.com/maureen.murimi.33" title="facebook"
                  target="_self"><i class="fa fa-facebook" style="font-size:20px;color:black;"></i></a></span>
      </p>
      </div>
  </div>
    </div>
    </div>
</header><hr>
    {% include "navbar.html" %}
    <br><br><hr>
    {% block content %}
    {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
     {% bootstrap_javascript %}
    {% endblock %}
    <footer><hr>
    <div class="row">
    <div class="col-md-4"><br><br>
    <p>The awards for design, creativity and innovation on the internet</p><br>
    <h5> <a href=""  style="color:black;">About us</a> Blog</h5><br>
    <h6><b>Follow us</b> Twitter  Facebook  Youtube  Linkedin  Instagram</h6>
</div>
 <div class="col-md-4"></div>
 <div class="col-md-4"><br><br>
 <p style='margin-left:300px;'>Next Conferences <i class="fa fa-calendar" aria-hidden="true"></i></p>
 </div>
</div>
<div class='copy'><hr>
 <p><b> Contact Us  <i class="fa fa-flag"></i> © 2020 Copyright:Nimo</b> 
 </p><hr>
 </div>

</footer>
</body>
</html>