{% load bootstrap4 %}
{% load static %}
<! DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% if title %}
  <title>Awwwards - {{title}}</title>
  {% else %}
    <title> Awwwards</title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
         <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
    {% block content %}


    {% endblock %}


    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
    <footer>
    <div class="row">
    <div class="col-md-4">
    <p>The awards for design, creativity and innovation on the internet</p>
      <p><b>About us</b> Blog</p>
      <p><b>Follow us</b> Twitter Facebook Youtube Linkedin Instagram</p>
</div>
 <div class="col-md-4"></div>
</div>

</footer>
</body>
</html>