{% load bootstrap4 %}
{% load static %}
<! DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% if title %}
  <title>Instagram - {{title}}</title>
  {% else %}
    <title> Instagram</title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
         <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}
    {% block content %}


    {% endblock %}


    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
    <footer><br>
 <!-- Copyright -->
  <div class="footer text-center py-3"><br>© 2020 Copyright:Nimo<br><br>
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>