<nav class="navbar navbar-expand-lg" id="navMain">
    <div class="container">
        <a class="" href="{% url 'home'%}"><i class="fa fa-instagram"style='font-size:30px;color:#8a3ab9;' ></i></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
{% comment %} Search {% endcomment %}
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="container-fluid">
               {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-12 nav-search">
                        <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}">
                            <input class="form-control my-2 my-sm-0 search-input" name="username" type="search" placeholder="Search " aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>
            {%endif%}

            {% comment %} Logout {% endcomment %}
            <ul  class="navbar-nav ml-auto" style="list-style: none">
                <li> <a href="/logout">Logout</a></li>
            </ul>
                    {%endif%}
        </div>
    </div>
</nav>