{%extends 'base.html'%}
{% load bootstrap4 %}

{% block content %}

    {% if projects %}
    <div class="jumbotron">
        <div class="text-center">
          <h6>We found {{ projects|length }} projects for "{{message}}"</h6>
        </div>
      </div>
    {% else %}
    <div class="jumbotron">
        <div class="text-center">
          <h2 >We found 0 projects for the term "{{message}}"</h2>
        </div>
      </div>
    {% endif %}

  </div>

  <div class="container-fluid">
      <div class="mb-2 pb-2 pl-4 pr-2 ml-4 mr-1">
          <h4> {{ projects|length }} Websites </h4>
      </div>
        <div class="row">
            {% for project_item in projects %}
                <div class="col-md-4">
                    <div class="card-deck">
                        <div class="card">
                          <!-- Card image -->
                        <div class="view overlay zoom">
                            {% if project_item.my_image %}
                            <a href="/project/{{project_item.id}}">
                            <img class="card-img-top" src="{{project_item.my_image.url}}" alt="{{ project_item.project_name }}" height="300px">
                            </a>
                            {% else %}
                            <a href="/project/{{project_item.id}}">
                            <img  class="card-img-top" src="https://unsplash.it/1200/768.jpg?image=2" alt="{{ project_item.project_name }}">
                            </a>
                            {% endif %}
                          </div>
                          <div class="card-body pr-2 pl-2 pr-2 mr-2">
                            <h5 class="card-title ml-4">{{ project_item.title }}</h5>
                            <div class="row ml-2">
                              <div class="col-lg-6 dark-text"> <small> <span class="mr-1"> From {{project_item.country.name}}</span> <img src="{{project_item.country.flag}}" alt=" {{project_item.country.name}} flag">  </small> </div>
                              <div class="col-lg-6 dark-text d-flex justify-content-end"> <small> {{project_item.time_created|date:"d /m/Y"}} </small> </div>
                            </div>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted ml-2"><img src="{{ project_item.author.profile.profile_pic.url }}" alt="" class="rounded-circle img-fluid " style="width: 30px;">
                            BY {{project_item.author.first_name|upper}} </small>
                          </div>
                        </div> 
                      </div>
                </div>
          {% endfor %}
        </div>
    </div>

{% endblock %}