{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{user.username}}</h1>
                <img src="{{user.profile.profile_image.url}}" alt="">
                <p>{{user_details.profile_bio}}</p>
                <img src="{{user_details.profile_image.url}}" alt="">
                <a href="{% url 'update_profile' %}" class='btn btn-info'></a>
            </div>
        </div>
    </div>
{% endblock content %}