{% load bootstrap4 %}
{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title> {{title}} </title>
    {% else %}
    <title>Awwwards</title>
    {% endif %}

    {{ form.media }}

    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet'>
      <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    {% endblock %}
</head>
<body>
<header>
    <div class="container-fluid"><br>
    <div class="row">
    <div class="col-md-4">
    <p style='text-decoration:underline;'>Kenya  </p>
    </div>
     <div class="col-md-4">
    <p >The awards of design , creatvity and innovation on the internet </p>
    </div>
     <div class="col-md-4">
     <p style='margin-left:500px;'>
     <span class="instagram"><a href="https://www.instagram.com/maureen.murimi/" title="Instagram"
                  target="_self"><i class="fa fa-instagram" style="font-size:20px;color:black;"></i></a></span>
          <span class="twitter"><a href="https://twitter.com/MaureenNimo3" title="twitter"
                  target="_blank"><i class="fa fa-twitter" style="font-size:20px;color:black;"></i></a></span>
          <span class="facebook"><a href="https://www.facebook.com/maureen.murimi.33" title="facebook"
                  target="_self"><i class="fa fa-facebook" style="font-size:20px;color:black;"></i></a></span>
      </p>
      </div>
  </div>
    </div>
    </div>
</header><hr>
    {% include "navbar.html" %}

    {% block content%}


    {% endblock %}

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {% bootstrap_javascript %}
        <script src="{% static 'js/scripts.js'%}"></script>
    {% endblock %}
</body>
</html>